In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("grimdatagovau.csv",encoding = 'unicode_escape')

In [3]:
a.head(20)

,grim,cause_of_death,YEAR,SEX,AGE_GROUP,deaths,rate,age_standardised_rate
0,GRIM0000,All causes combined (ICD-10 all),1907,Males,04,6482.0,2604.0,NaN
1,GRIM0000,All causes combined (ICD-10 all),1907,Males,59,473.0,205.1,NaN
2,GRIM0000,All causes combined (ICD-10 all),1907,Males,1014,366.0,168.4,NaN
3,GRIM0000,All causes combined (ICD-10 all),1907,Males,1519,569.0,266.8,NaN
4,GRIM0000,All causes combined (ICD-10 all),1907,Males,2024,763.0,366.8,NaN
5,GRIM0000,All causes combined (ICD-10 all),1907,Males,2529,723.0,388.5,NaN
6,GRIM0000,All causes combined (ICD-10 all),1907,Males,3034,789.0,474.7,NaN
7,GRIM0000,All causes combined (ICD-10 all),1907,Males,3539,1001.0,654.7,NaN
8,GRIM0000,All causes combined (ICD-10 all),1907,Males,4044,1205.0,872.0,NaN
9,GRIM0000,All causes combined (ICD-10 all),1907,Males,4549,1363.0,1174.7,NaN
10,GRIM0000,All causes combined (ICD-10 all),1907,Males,5054,1371.0,1484.7,NaN
11,GRIM0000,All causes combined (ICD-10 all),1907,Males,5559,1284.0,1984.9,NaN
12,GRIM0000,All causes combined (ICD-10 all),1907,Males,6064,1525.0,3077.2,NaN
13,GRIM0000,All causes combined (ICD-10 all),1907,Males,6569,1785.0,4487.7,NaN
14,GRIM0000,All causes combined (ICD-10 all),1907,Males,7074,2121.0,7586.1,NaN
15,GRIM0000,All causes combined (ICD-10 all),1907,Males,7579,2010.0,12227.9,NaN
16,GRIM0000,All causes combined (ICD-10 all),1907,Males,8084,1199.0,15485.0,NaN
17,GRIM0000,All causes combined (ICD-10 all),1907,Males,85+,862.0,29234.2,NaN
18,GRIM0000,All causes combined (ICD-10 all),1907,Males,Missing,48.0,NaN,NaN
19,GRIM0000,All causes combined (ICD-10 all),1907,Males,Total,25939.0,1190.4,2234.2

In [4]:
a['AGE_GROUP'].unique()

array(['0\x964', '5\x969', '10\x9614', '15\x9619', '20\x9624', '25\x9629',
       '30\x9634', '35\x9639', '40\x9644', '45\x9649', '50\x9654',
       '55\x9659', '60\x9664', '65\x9669', '70\x9674', '75\x9679',
       '80\x9684', '85+', 'Missing', 'Total'], dtype=object)

In [5]:
a = a[a['AGE_GROUP'] == '0\x964']

In [6]:
a = a.drop(['grim','AGE_GROUP','age_standardised_rate'],axis=1)

In [7]:
a.head()

                      cause_of_death  YEAR      SEX   deaths    rate
0   All causes combined (ICD-10 all)  1907    Males   6482.0  2604.0
20  All causes combined (ICD-10 all)  1907  Females   5341.0  2213.7
40  All causes combined (ICD-10 all)  1907  Persons  11823.0  2411.9
60  All causes combined (ICD-10 all)  1908    Males   6339.0  2498.5
80  All causes combined (ICD-10 all)  1908  Females   5029.0  2047.1

In [8]:
a['cause_of_death'].unique()

array(['All causes combined (ICD-10 all)',
       'Dementia and Alzheimer disease (ICD-10 F01, F03, G30)',
       'Chronic kidney disease (ICD-10 B52.0, D59.3, E10.2, E11.2, E12.2, E13.2, E14.2, E85.1, I12, I13, I15.0, I15.1, N00\x96N07, N11, N12, N14, N15, N18, N19, N25\x96N28, N39.1, N39.2, Q60\x96Q63, T82.4, T86.1)',
       'All certain infectious and parasitic diseases (ICD-10 A00\x96B99)',
       'Vaccine-preventable diseases (ICD-10 A33\x96A37, A80, B01, B05, B06, B15, B16, B17.0, B18.0, B18.1, B18.9, B19, B26)',
       'All neoplasms (ICD-10 C00\x96D48)', 'Breast cancer (ICD-10 C50)',
       'Colorectal cancer (ICD-10 C18\x96C20, C26.0)',
       'Lung cancer (ICD-10 C33, C34)',
       'Melanoma of the skin (ICD-10 C43)',
       'Pancreatic cancer (ICD-10 C25)', 'Prostate cancer (ICD-10 C61)',
       'Skin cancer (ICD-10 C43, C44)',
       'All diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism (ICD-10 D50\x96D89)',
       'All endocrine, nutritional and metabolic diseases (ICD-10 E00\x96E90)',
       'Diabetes (ICD-10 E10\x96E14)',
       'All mental and behavioural disorders (ICD-10 F00\x96F99)',
       'All diseases of the nervous system (ICD-10 G00\x96G99)',
       'Motor neurone disease (ICD-10 G12.2)',
       'All diseases of the eye and adnexa (ICD-10 H00\x96H59)',
       'All diseases of the ear and mastoid process (ICD-10 H60\x96H95)',
       'All diseases of the circulatory system (ICD-10 I00\x96I99)',
       'Cerebrovascular disease (ICD-10 I60\x96I69)',
       'Heart failure (ICD-10 I50)',
       'Hypertensive disease (ICD-10 I10\x96I15)',
       'Coronary heart disease (ICD-10 I20\x96I25)',
       'Stroke (ICD-10 I60\x96I64)',
       'All diseases of the respiratory system (ICD-10 J00\x96J99)',
       'Asthma (ICD-10 J45, J46)',
       'Chronic obstructive pulmonary disease (COPD) (ICD-10 J40\x96J44)',
       'Influenza (ICD-10 J09\x96J11)',
       'Influenza and pneumonia (ICD-10 J09\x96J18)',
       'Selected respiratory conditions (ICD-10 J09\x96J18, J20\x96J22, J40\x96J47, J60\x96J70, J80\x96J86, J90\x96J99)',
       'Acute severe asthma (ICD-10 J46)',
       'All diseases of the digestive system (ICD-10 K00\x96K93)',
       'Liver disease (ICD-10 K70\x96K76)',
       'All diseases of the skin and subcutaneous tissue (ICD-10 L00\x96L99)',
       'All diseases of the musculoskeletal system and connective tissue (ICD-10 M00\x96M99)',
       'Osteoarthritis (ICD-10 M15\x96M19)',
       'Osteoporosis (ICD-10 M80\x96M82)',
       'Rheumatoid arthritis (ICD-10 M05, M06)',
       'All diseases of the genitourinary system (ICD-10 N00\x96N99)',
       'Kidney failure (ICD-10 N17\x96N19)',
       'All pregnancy, childbirth and the puerperium (ICD-10 O00\x96O99)',
       'All certain conditions originating in the perinatal period (ICD-10 P00\x96P96)',
       'All congenital malformations, deformations and chromosomal abnormalities (ICD-10 Q00\x96Q99)',
       'All symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (ICD-10 R00\x96R99)',
       'Sudden infant death syndrome (SIDS) (ICD-10 R95 (aged less than 1))',
       'All external causes of morbidity and mortality (ICD-10 V01\x96Y98)',
       'Accidental poisoning, including drugs causing adverse effects in therapeutic use (ICD-10 X40\x96X49, Y40\x96Y59)',
       'Accidental drowning (ICD-10 W65\x96W74)',
       'Assault (ICD-10 X85\x96Y09)',
       'Land transport accidents (ICD-10 V01\x96V89)',
       'Suicide (ICD-10 X60\x96X84)',
       'Accidental poisoning (ICD-10 X40\x96X49)'], dtype=object)

In [9]:
import re

In [10]:
b = a.reset_index()

In [11]:
del b['index']

In [12]:
b

                              cause_of_death  YEAR      SEX   deaths    rate
0           All causes combined (ICD-10 all)  1907    Males   6482.0  2604.0
1           All causes combined (ICD-10 all)  1907  Females   5341.0  2213.7
2           All causes combined (ICD-10 all)  1907  Persons  11823.0  2411.9
3           All causes combined (ICD-10 all)  1908    Males   6339.0  2498.5
4           All causes combined (ICD-10 all)  1908  Females   5029.0  2047.1
5           All causes combined (ICD-10 all)  1908  Persons  11368.0  2276.4
6           All causes combined (ICD-10 all)  1909    Males   5927.0  2292.9
7           All causes combined (ICD-10 all)  1909  Females   4786.0  1913.9
8           All causes combined (ICD-10 all)  1909  Persons  10713.0  2106.5
9           All causes combined (ICD-10 all)  1910    Males   6404.0  2432.3
10          All causes combined (ICD-10 all)  1910  Females   5119.0  2011.7
11          All causes combined (ICD-10 all)  1910  Persons  11523.0  2225.6
12          All causes combined (ICD-10 all)  1911    Males   6126.0  2285.2
13          All causes combined (ICD-10 all)  1911  Females   4871.0  1881.8
14          All causes combined (ICD-10 all)  1911  Persons  10997.0  2087.0
15          All causes combined (ICD-10 all)  1912    Males   7222.0  2655.2
16          All causes combined (ICD-10 all)  1912  Females   5698.0  2169.9
17          All causes combined (ICD-10 all)  1912  Persons  12920.0  2416.8
18          All causes combined (ICD-10 all)  1913    Males   7183.0  2603.3
19          All causes combined (ICD-10 all)  1913  Females   5835.0  2190.8
20          All causes combined (ICD-10 all)  1913  Persons  13018.0  2400.7
21          All causes combined (ICD-10 all)  1914    Males   7277.0  2600.4
22          All causes combined (ICD-10 all)  1914  Females   5746.0  2127.5
23          All causes combined (ICD-10 all)  1914  Persons  13023.0  2368.1
24          All causes combined (ICD-10 all)  1915    Males   6989.0  2463.0
25          All causes combined (ICD-10 all)  1915  Females   5523.0  2016.9
26          All causes combined (ICD-10 all)  1915  Persons  12512.0  2243.9
27          All causes combined (ICD-10 all)  1916    Males   7185.0  2497.5
28          All causes combined (ICD-10 all)  1916  Females   5828.0  2099.6
29          All causes combined (ICD-10 all)  1916  Persons  13013.0  2302.1
...                                      ...   ...      ...      ...     ...
18285  Accidental poisoning (ICD-10 X40X49)  2008    Males      0.0     0.0
18286  Accidental poisoning (ICD-10 X40X49)  2008  Females      1.0     0.1
18287  Accidental poisoning (ICD-10 X40X49)  2008  Persons      1.0     0.1
18288  Accidental poisoning (ICD-10 X40X49)  2009    Males      0.0     0.0
18289  Accidental poisoning (ICD-10 X40X49)  2009  Females      0.0     0.0
18290  Accidental poisoning (ICD-10 X40X49)  2009  Persons      0.0     0.0
18291  Accidental poisoning (ICD-10 X40X49)  2010    Males      1.0     0.1
18292  Accidental poisoning (ICD-10 X40X49)  2010  Females      1.0     0.1
18293  Accidental poisoning (ICD-10 X40X49)  2010  Persons      2.0     0.1
18294  Accidental poisoning (ICD-10 X40X49)  2011    Males      0.0     0.0
18295  Accidental poisoning (ICD-10 X40X49)  2011  Females      1.0     0.1
18296  Accidental poisoning (ICD-10 X40X49)  2011  Persons      1.0     0.1
18297  Accidental poisoning (ICD-10 X40X49)  2012    Males      1.0     0.1
18298  Accidental poisoning (ICD-10 X40X49)  2012  Females      1.0     0.1
18299  Accidental poisoning (ICD-10 X40X49)  2012  Persons      2.0     0.1
18300  Accidental poisoning (ICD-10 X40X49)  2013    Males      1.0     0.1
18301  Accidental poisoning (ICD-10 X40X49)  2013  Females      1.0     0.1
18302  Accidental poisoning (ICD-10 X40X49)  2013  Persons      2.0     0.1
18303  Accidental poisoning (ICD-10 X40X49)  2014    Males      0.0     0.0
18304  Accidental poisoning (ICD-10 X40X49)  2014  Females      0.0     0.0
18305  Accidental poisoning (ICD-10 X40X49)  2014  Persons      0.0     0.0
18306  Accidental poisoning (ICD-10 X40X49)  2015    Males      2.0     0.3
18307  Accidental poisoning (ICD-10 X40X49)  2015  Females      0.0     0.0
18308  Accidental poisoning (ICD-10 X40X49)  2015  Persons      2.0     0.1
18309  Accidental poisoning (ICD-10 X40X49)  2016    Males      0.0     0.0
18310  Accidental poisoning (ICD-10 X40X49)  2016  Females      0.0     0.0
18311  Accidental poisoning (ICD-10 X40X49)  2016  Persons      0.0     0.0
18312  Accidental poisoning (ICD-10 X40X49)  2017    Males      0.0     0.0
18313  Accidental poisoning (ICD-10 X40X49)  2017  Females      1.0     0.1
18314  Accidental poisoning (ICD-10 X40X49)  2017  Persons      1.0     0.1

[18315 rows x 5 columns]

In [13]:
b.iloc[5,0]

'All causes combined (ICD-10 all)'

In [14]:
for i in range(b.shape[0]):
    b.iloc[i,0] = re.sub(" \(.*?\)","",b.iloc[i,0])

In [15]:
b

             cause_of_death  YEAR      SEX   deaths    rate
0       All causes combined  1907    Males   6482.0  2604.0
1       All causes combined  1907  Females   5341.0  2213.7
2       All causes combined  1907  Persons  11823.0  2411.9
3       All causes combined  1908    Males   6339.0  2498.5
4       All causes combined  1908  Females   5029.0  2047.1
5       All causes combined  1908  Persons  11368.0  2276.4
6       All causes combined  1909    Males   5927.0  2292.9
7       All causes combined  1909  Females   4786.0  1913.9
8       All causes combined  1909  Persons  10713.0  2106.5
9       All causes combined  1910    Males   6404.0  2432.3
10      All causes combined  1910  Females   5119.0  2011.7
11      All causes combined  1910  Persons  11523.0  2225.6
12      All causes combined  1911    Males   6126.0  2285.2
13      All causes combined  1911  Females   4871.0  1881.8
14      All causes combined  1911  Persons  10997.0  2087.0
15      All causes combined  1912    Males   7222.0  2655.2
16      All causes combined  1912  Females   5698.0  2169.9
17      All causes combined  1912  Persons  12920.0  2416.8
18      All causes combined  1913    Males   7183.0  2603.3
19      All causes combined  1913  Females   5835.0  2190.8
20      All causes combined  1913  Persons  13018.0  2400.7
21      All causes combined  1914    Males   7277.0  2600.4
22      All causes combined  1914  Females   5746.0  2127.5
23      All causes combined  1914  Persons  13023.0  2368.1
24      All causes combined  1915    Males   6989.0  2463.0
25      All causes combined  1915  Females   5523.0  2016.9
26      All causes combined  1915  Persons  12512.0  2243.9
27      All causes combined  1916    Males   7185.0  2497.5
28      All causes combined  1916  Females   5828.0  2099.6
29      All causes combined  1916  Persons  13013.0  2302.1
...                     ...   ...      ...      ...     ...
18285  Accidental poisoning  2008    Males      0.0     0.0
18286  Accidental poisoning  2008  Females      1.0     0.1
18287  Accidental poisoning  2008  Persons      1.0     0.1
18288  Accidental poisoning  2009    Males      0.0     0.0
18289  Accidental poisoning  2009  Females      0.0     0.0
18290  Accidental poisoning  2009  Persons      0.0     0.0
18291  Accidental poisoning  2010    Males      1.0     0.1
18292  Accidental poisoning  2010  Females      1.0     0.1
18293  Accidental poisoning  2010  Persons      2.0     0.1
18294  Accidental poisoning  2011    Males      0.0     0.0
18295  Accidental poisoning  2011  Females      1.0     0.1
18296  Accidental poisoning  2011  Persons      1.0     0.1
18297  Accidental poisoning  2012    Males      1.0     0.1
18298  Accidental poisoning  2012  Females      1.0     0.1
18299  Accidental poisoning  2012  Persons      2.0     0.1
18300  Accidental poisoning  2013    Males      1.0     0.1
18301  Accidental poisoning  2013  Females      1.0     0.1
18302  Accidental poisoning  2013  Persons      2.0     0.1
18303  Accidental poisoning  2014    Males      0.0     0.0
18304  Accidental poisoning  2014  Females      0.0     0.0
18305  Accidental poisoning  2014  Persons      0.0     0.0
18306  Accidental poisoning  2015    Males      2.0     0.3
18307  Accidental poisoning  2015  Females      0.0     0.0
18308  Accidental poisoning  2015  Persons      2.0     0.1
18309  Accidental poisoning  2016    Males      0.0     0.0
18310  Accidental poisoning  2016  Females      0.0     0.0
18311  Accidental poisoning  2016  Persons      0.0     0.0
18312  Accidental poisoning  2017    Males      0.0     0.0
18313  Accidental poisoning  2017  Females      1.0     0.1
18314  Accidental poisoning  2017  Persons      1.0     0.1

[18315 rows x 5 columns]

In [16]:
b = b.fillna(0)

In [17]:
b.head()

        cause_of_death  YEAR      SEX   deaths    rate
0  All causes combined  1907    Males   6482.0  2604.0
1  All causes combined  1907  Females   5341.0  2213.7
2  All causes combined  1907  Persons  11823.0  2411.9
3  All causes combined  1908    Males   6339.0  2498.5
4  All causes combined  1908  Females   5029.0  2047.1

In [38]:
b['population'] = 0

In [40]:
b.columns = ['cause_of_death','year','sex','death_number','death_rate','population']

In [41]:
b.death_number = b.death_number.astype(float)
b.death_rate = b.death_rate.astype(float)

In [42]:
b['population'] = round((100000*b['death_number']/b['death_rate']),1)

In [43]:
death_rates = b[b['cause_of_death']=='All causes combined']

In [44]:
death_rates

          cause_of_death  year      sex  death_number  death_rate  population
0    All causes combined  1907    Males        6482.0      2604.0    248924.7
1    All causes combined  1907  Females        5341.0      2213.7    241270.3
2    All causes combined  1907  Persons       11823.0      2411.9    490194.5
3    All causes combined  1908    Males        6339.0      2498.5    253712.2
4    All causes combined  1908  Females        5029.0      2047.1    245664.6
5    All causes combined  1908  Persons       11368.0      2276.4    499385.0
6    All causes combined  1909    Males        5927.0      2292.9    258493.6
7    All causes combined  1909  Females        4786.0      1913.9    250065.3
8    All causes combined  1909  Persons       10713.0      2106.5    508568.7
9    All causes combined  1910    Males        6404.0      2432.3    263289.9
10   All causes combined  1910  Females        5119.0      2011.7    254461.4
11   All causes combined  1910  Persons       11523.0      2225.6    517748.0
12   All causes combined  1911    Males        6126.0      2285.2    268072.8
13   All causes combined  1911  Females        4871.0      1881.8    258847.9
14   All causes combined  1911  Persons       10997.0      2087.0    526928.6
15   All causes combined  1912    Males        7222.0      2655.2    271994.6
16   All causes combined  1912  Females        5698.0      2169.9    262592.7
17   All causes combined  1912  Persons       12920.0      2416.8    534591.2
18   All causes combined  1913    Males        7183.0      2603.3    275919.0
19   All causes combined  1913  Females        5835.0      2190.8    266341.1
20   All causes combined  1913  Persons       13018.0      2400.7    542258.5
21   All causes combined  1914    Males        7277.0      2600.4    279841.6
22   All causes combined  1914  Females        5746.0      2127.5    270082.3
23   All causes combined  1914  Persons       13023.0      2368.1    549934.5
24   All causes combined  1915    Males        6989.0      2463.0    283759.6
25   All causes combined  1915  Females        5523.0      2016.9    273836.1
26   All causes combined  1915  Persons       12512.0      2243.9    557600.6
27   All causes combined  1916    Males        7185.0      2497.5    287687.7
28   All causes combined  1916  Females        5828.0      2099.6    277576.7
29   All causes combined  1916  Persons       13013.0      2302.1    565266.5
..                   ...   ...      ...           ...         ...         ...
303  All causes combined  2008    Males         838.0       118.0    710169.5
304  All causes combined  2008  Females         621.0        92.3    672806.1
305  All causes combined  2008  Persons        1459.0       105.5   1382938.4
306  All causes combined  2009    Males         859.0       117.4    731686.5
307  All causes combined  2009  Females         632.0        91.1    693743.1
308  All causes combined  2009  Persons        1491.0       104.6   1425430.2
309  All causes combined  2010    Males         866.0       116.0    746551.7
310  All causes combined  2010  Females         589.0        83.2    707932.7
311  All causes combined  2010  Persons        1455.0       100.1   1453546.5
312  All causes combined  2011    Males         747.0        99.8    748497.0
313  All causes combined  2011  Females         595.0        83.9    709177.6
314  All causes combined  2011  Persons        1342.0        92.0   1458695.7
315  All causes combined  2012    Males         681.0        88.8    766891.9
316  All causes combined  2012  Females         553.0        76.0    727631.6
317  All causes combined  2012  Persons        1234.0        82.6   1493946.7
318  All causes combined  2013    Males         709.0        90.6    782560.7
319  All causes combined  2013  Females         601.0        81.0    741975.3
320  All causes combined  2013  Persons        1310.0        85.9   1525029.1
321  All causes combined  2014    Males         636.0        80.4    791044.8
322  All causes combined  2014  Females         555.0        74.0    750000.0
323  All causes combined  2014  Persons        1191.0        77.3   1540750.3
324  All causes combined  2015    Males         662.0        83.1    796630.6
325  All causes combined  2015  Females         539.0        71.3    755960.7
326  All causes combined  2015  Persons        1201.0        77.4   1551679.6
327  All causes combined  2016    Males         654.0        81.0    807407.4
328  All causes combined  2016  Females         507.0        66.2    765861.0
329  All causes combined  2016  Persons        1161.0        73.8   1573170.7
330  All causes combined  2017    Males         665.0        82.0    810975.6
331  All causes combined  2017  Females         544.0        70.8    768361.6
332  All causes combined  2017  Persons        1209.0        76.6   1578329.0

[333 rows x 6 columns]

In [45]:
del death_rates['cause_of_death']

In [46]:
death_rates.to_csv('Total_Death_Number_and_Rates_by_Sex_1907_2017.csv',index = None)

In [47]:
b.to_csv('Death_Number_and_Rates_1907_2017_by_Sex_Causes.csv', index= None)

In [52]:
c = b[(b['sex']=='Persons')& (b['cause_of_death']=='All causes combined')]

In [53]:
c = c.drop(['sex','cause_of_death'],axis=1)

In [54]:
c

     year  death_number  death_rate  population
2    1907       11823.0      2411.9    490194.5
5    1908       11368.0      2276.4    499385.0
8    1909       10713.0      2106.5    508568.7
11   1910       11523.0      2225.6    517748.0
14   1911       10997.0      2087.0    526928.6
17   1912       12920.0      2416.8    534591.2
20   1913       13018.0      2400.7    542258.5
23   1914       13023.0      2368.1    549934.5
26   1915       12512.0      2243.9    557600.6
29   1916       13013.0      2302.1    565266.5
32   1917        9887.0      1725.7    572926.9
35   1918       10207.0      1758.0    580603.0
38   1919       11833.0      2011.5    588267.5
41   1920       13387.0      2246.4    595931.3
44   1921       12048.0      1996.0    603607.2
47   1922        9645.0      1576.2    611914.7
50   1923       10860.0      1742.6    623206.7
53   1924       10351.0      1635.0    633088.7
56   1925        9527.0      1482.6    642587.3
59   1926        9593.0      1497.0    640815.0
62   1927        9828.0      1542.9    636982.3
65   1928        9653.0      1520.9    634690.0
68   1929        9111.0      1442.5    631611.8
71   1930        8322.0      1339.2    621415.8
74   1931        6834.0      1117.6    611488.9
77   1932        6427.0      1082.0    593992.6
80   1933        6122.0      1066.6    573973.4
83   1934        6564.0      1182.5    555095.1
86   1935        6026.0      1116.5    539722.3
89   1936        6374.0      1203.3    529710.0
..    ...           ...         ...         ...
245  1988        2560.0       208.2   1229586.9
248  1989        2421.0       194.6   1244090.4
251  1990        2569.0       204.2   1258080.3
254  1991        2179.0       171.3   1272037.4
257  1992        2241.0       174.5   1284240.7
260  1993        1995.0       154.5   1291262.1
263  1994        1873.0       144.5   1296193.8
266  1995        1806.0       139.3   1296482.4
269  1996        1811.0       140.2   1291726.1
272  1997        1668.0       129.2   1291021.7
275  1998        1599.0       124.4   1285369.8
278  1999        1701.0       132.9   1279909.7
281  2000        1558.0       122.3   1273916.6
284  2001        1568.0       123.1   1273761.2
287  2002        1524.0       120.1   1268942.5
290  2003        1469.0       115.7   1269662.9
293  2004        1442.0       113.5   1270484.6
296  2005        1545.0       120.9   1277915.6
299  2006        1482.0       114.5   1294323.1
302  2007        1428.0       106.8   1337078.7
305  2008        1459.0       105.5   1382938.4
308  2009        1491.0       104.6   1425430.2
311  2010        1455.0       100.1   1453546.5
314  2011        1342.0        92.0   1458695.7
317  2012        1234.0        82.6   1493946.7
320  2013        1310.0        85.9   1525029.1
323  2014        1191.0        77.3   1540750.3
326  2015        1201.0        77.4   1551679.6
329  2016        1161.0        73.8   1573170.7
332  2017        1209.0        76.6   1578329.0

[111 rows x 4 columns]

In [55]:
c.to_csv('Total_Death_Number_and_Rates_1907_2017.csv',index=None)