In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
a = pd.ExcelFile('2016.xlsx')

In [3]:
a.sheet_names

['Drown', 'Burn', 'Poison', 'Choke', 'Fall', 'Crush', 'Transport', 'Electric']

### Drown

In [4]:
new = pd.read_excel('2016.xlsx',sheet_name='Drown')

In [5]:
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [6]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)

In [7]:
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'

In [8]:
new.columns = ['Age','Sex','Value','Year']

In [10]:
drown = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        drown = drown.append(l1)

In [11]:
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    drown = drown.append(l2)

In [12]:
l3 = [['0-4','Persons',drown.Value[drown.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
drown = drown.append(l3)

In [13]:
for i in ['Male','Female']:
    l4 =[['0-4',i,drown.Value[drown.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    drown = drown.append(l4)

In [14]:
drown['Type'] = 'Drown'

### Burn

In [15]:
new = pd.read_excel('2016.xlsx',sheet_name='Burn')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [16]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)

In [17]:
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'

In [18]:
new.columns = ['Age','Sex','Value','Year']

In [19]:
burn = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        burn = burn.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    burn = burn.append(l2)
    
l3 = [['0-4','Persons',burn.Value[burn.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
burn = burn.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,burn.Value[burn.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    burn = burn.append(l4)

burn['Type'] = 'Burn'

### Poison

In [20]:
new = pd.read_excel('2016.xlsx',sheet_name='Poison')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [21]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [22]:
poison = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        poison = poison.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    poison = poison.append(l2)
    
l3 = [['0-4','Persons',poison.Value[poison.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
poison = poison.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,poison.Value[poison.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    poison = poison.append(l4)

poison['Type'] = 'Poison'

### Choke

In [23]:
new = pd.read_excel('2016.xlsx',sheet_name='Choke')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [24]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [25]:
choke = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        choke = choke.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    choke = choke.append(l2)
    
l3 = [['0-4','Persons',choke.Value[choke.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
choke = choke.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,choke.Value[choke.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    choke = choke.append(l4)

choke['Type'] = 'Choke'

### Fall

In [26]:
new = pd.read_excel('2016.xlsx',sheet_name='Fall')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [27]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [28]:
fall = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        fall = fall.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    fall = fall.append(l2)
    
l3 = [['0-4','Persons',fall.Value[fall.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
fall = fall.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,fall.Value[fall.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    fall = fall.append(l4)

fall['Type'] = 'Fall'

### Crush

In [29]:
new = pd.read_excel('2016.xlsx',sheet_name='Crush')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [30]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [31]:
crush = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        crush = crush.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    crush = crush.append(l2)
    
l3 = [['0-4','Persons',crush.Value[crush.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
crush = crush.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,crush.Value[crush.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    crush = crush.append(l4)

crush['Type'] = 'Crush'

### Transport

In [32]:
new = pd.read_excel('2016.xlsx',sheet_name='Transport')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [33]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [34]:
trans = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        trans = trans.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    trans = trans.append(l2)
    
l3 = [['0-4','Persons',trans.Value[trans.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
trans = trans.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,trans.Value[trans.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    trans = trans.append(l4)

trans['Type'] = 'Transport'

### Electric

In [35]:
new = pd.read_excel('2016.xlsx',sheet_name='Electric')
new.columns

Index(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis', 'Age Group', 'Sex',
       'Same-day Flag', 'Separations', 'Patient Days', 'Year'],
      dtype='object')

In [36]:
new = new.drop(['Diagnosis chapter', 'Diagnosis subchapter', '3 digit diagnosis',
       '4 digit diagnosis', '5 digit diagnosis','Same-day Flag','Patient Days'],axis = 1)
new['Age Group'][new['Age Group'] == '01- Age under 1'] = '0-1'
new['Age Group'][new['Age Group'] == '02- Age 1-4 yrs'] = '1-4'
new['Sex'][new['Sex'] == '1- Male'] = 'Male'
new['Sex'][new['Sex'] == '2- Female'] = 'Female'
new.columns = ['Age','Sex','Value','Year']

In [37]:
elec = pd.DataFrame(columns=['Age','Sex','Value','Year'])
for i in ['0-1','1-4']:
    for j in ['Male','Female']:
        l1 = [[i,j,new.Value[(new.Age==i) & (new.Sex==j)].sum(),2016]]
        l1 = pd.DataFrame(l1,columns=['Age','Sex','Value','Year'])
        elec = elec.append(l1)
        
for i in ['0-1','1-4']:
    l2 = [[i,'Persons',new.Value[new.Age==i].sum(),2016]]
    l2 = pd.DataFrame(l2,columns=['Age','Sex','Value','Year'])
    elec = elec.append(l2)
    
l3 = [['0-4','Persons',elec.Value[elec.Sex=='Persons'].sum(),2016]]
l3 = pd.DataFrame(l3,columns =['Age','Sex','Value','Year'])
elec = elec.append(l3)

for i in ['Male','Female']:
    l4 =[['0-4',i,elec.Value[elec.Sex==i].sum(),2016]]
    l4 = pd.DataFrame(l4,columns=['Age','Sex','Value','Year'])
    elec = elec.append(l4)

elec['Type'] = 'Electric'

In [38]:
b = drown.append(burn).append(poison).append(choke).append(fall).append(crush).append(trans).append(elec)

In [39]:
b

    Age      Sex  Value  Year       Type
0   0-1     Male     23  2016      Drown
0   0-1   Female     11  2016      Drown
0   1-4     Male    147  2016      Drown
0   1-4   Female    112  2016      Drown
0   0-1  Persons     34  2016      Drown
0   1-4  Persons    259  2016      Drown
0   0-4  Persons    293  2016      Drown
0   0-4     Male    170  2016      Drown
0   0-4   Female    123  2016      Drown
0   0-1     Male    105  2016       Burn
0   0-1   Female     74  2016       Burn
0   1-4     Male    688  2016       Burn
0   1-4   Female    465  2016       Burn
0   0-1  Persons    179  2016       Burn
0   1-4  Persons   1153  2016       Burn
0   0-4  Persons   1332  2016       Burn
0   0-4     Male    793  2016       Burn
0   0-4   Female    539  2016       Burn
0   0-1     Male     76  2016     Poison
0   0-1   Female     55  2016     Poison
0   1-4     Male    856  2016     Poison
0   1-4   Female    679  2016     Poison
0   0-1  Persons    131  2016     Poison
0   1-4  Persons   1535  2016     Poison
0   0-4  Persons   1666  2016     Poison
0   0-4     Male    932  2016     Poison
0   0-4   Female    734  2016     Poison
0   0-1     Male      1  2016      Choke
0   0-1   Female      3  2016      Choke
0   1-4     Male      9  2016      Choke
..  ...      ...    ...   ...        ...
0   0-4  Persons  18783  2016       Fall
0   0-4     Male  10952  2016       Fall
0   0-4   Female   7831  2016       Fall
0   0-1     Male      3  2016      Crush
0   0-1   Female      2  2016      Crush
0   1-4     Male     30  2016      Crush
0   1-4   Female     31  2016      Crush
0   0-1  Persons      5  2016      Crush
0   1-4  Persons     61  2016      Crush
0   0-4  Persons     66  2016      Crush
0   0-4     Male     33  2016      Crush
0   0-4   Female     33  2016      Crush
0   0-1     Male     10  2016  Transport
0   0-1   Female     20  2016  Transport
0   1-4     Male     27  2016  Transport
0   1-4   Female     22  2016  Transport
0   0-1  Persons     30  2016  Transport
0   1-4  Persons     49  2016  Transport
0   0-4  Persons     79  2016  Transport
0   0-4     Male     37  2016  Transport
0   0-4   Female     42  2016  Transport
0   0-1     Male      0  2016   Electric
0   0-1   Female      0  2016   Electric
0   1-4     Male      1  2016   Electric
0   1-4   Female      0  2016   Electric
0   0-1  Persons      0  2016   Electric
0   1-4  Persons      1  2016   Electric
0   0-4  Persons      1  2016   Electric
0   0-4     Male      1  2016   Electric
0   0-4   Female      0  2016   Electric

[72 rows x 5 columns]

In [40]:
b.to_csv('Injury_Number_by_Type_Sex_Age_2016.csv',index=None)