In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
a = pd.read_csv('Injury_Number_by_Type_1999_2018.csv')

In [3]:
a.head()

    Type  Value  Year
0  Drown  291.0  1999
1  Drown  304.0  2000
2  Drown  304.0  2001
3  Drown  290.0  2002
4  Drown  235.0  2003

In [4]:
a.Type.unique()

array(['Drown', 'Burn', 'Poison', 'Choke', 'Fall', 'Crush', 'Transport',
       'Electric'], dtype=object)

In [14]:
drown = a[a.Type == 'Drown']
drown.to_csv('Injury_by_Drown.csv',index = None)

In [15]:
burn = a[a.Type == 'Burn']
burn.to_csv('Injury_by_Burn.csv',index = None)

In [16]:
poison = a[a.Type == 'Poison']
poison.to_csv('Injury_by_Poison.csv',index = None)

In [17]:
choke = a[a.Type == 'Choke']
choke.to_csv('Injury_by_Choke.csv',index = None)

In [18]:
fall = a[a.Type == 'Fall']
fall.to_csv('Injury_by_Fall.csv',index = None)

In [19]:
crush = a[a.Type == 'Crush']
crush.to_csv('Injury_by_Crush.csv',index = None)

In [20]:
trans = a[a.Type == 'Transport']
trans.to_csv('Injury_by_Transport.csv',index = None)

In [21]:
elec = a[a.Type == 'Electric']
elec.to_csv('Injury_by_Electric.csv',index = None)

In [ ]:
.to_csv('Injury_by_.csv',index = None)